
.panel {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    position: absolute;
    z-index: 10;
    height: 720px;
    background: #eee;
    top: 50%;
    left: 50%;
    padding: 20px;
    padding-top: 35px;
    border-radius: 4px;
    box-sizing: border-box;
}

#inputCardBox {
    margin: -375px 0 0 -45%;
    width: 25%;
}

#decksCardBox {
    margin: -375px 0 0 -17%;
    width: 25%;
}

#outputCardBox {
    margin: -375px 0 0 11%;
    width: 35%;
}

.panel li .svg-wrap svg {
    fill: #222;
    width: 100%;
    height: 100%;
    -webkit-transition: fill 0.2s ease;
    transition: fill 0.2s ease;
}

.panel h1 {
    padding-top: 30px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: #222;
    margin-top: -4px;
    align-content: center;
}

.svg-wrap {
    display: inline-block;
    vertical-align: top;
}

.submitButton {
    text-align: center;
}

.progress-button {
    display: inline-block;
    text-align: center;
    align-content: center;
    padding-top: 25px;
}

.progress-button button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 270px;
    height: 50px;
    border: 2px solid rgb(80,163,154);
    border-radius: 40px;
    background: transparent;
    color: rgb(80,163,154);
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover {
    background-color: rgb(80,163,154);
    color: #eee;
}

.progress-button button:focus {
    outline: none;
}

/* INPUT **/
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

label {
    display: block;
    /*margin-top: 2em;*/
    /*margin-bottom: 0.5em;*/
    color: rgb(80,163,154);
}

input {
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 2em;
    border-radius: 3px;
    border: 1px solid rgb(80,163,154);
    color: rgb(80,163,154);
    font-weight: 500;
}

button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.5rem 0.8em;
    background: rgb(80,163,154);
    border-bottom: 1px solid rgb(80,163,154);
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    width: 100%;
    text-align: center;
}

button:hover, button:focus {
    cursor: pointer;
}

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

html {
    height:100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .file-upload {
    height: 110px;
    width: 110px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eee;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(80,163,154) 50%, #eee 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #eee;
    font-size: 100px;
}
.wrapper .file-upload input[type='file'] {
    height: 110px;
    width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.wrapper .file-upload:hover {
    background-position: 0 -100%;
    color: rgb(80,163,154);
}

.uploadTxtLabel {
    color:rgb(199, 199, 199);
    text-align: center;
    font-size: 12px;
    padding-top: 25px;
    font-weight: 700;
    display: none
}
.wrapper:hover + .uploadTxtLabel {
    display:block;
}

.fa {
    font-size: 50px;
}

.cardsList {
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    overflow: scroll;
    margin: 0;
    padding: 0;
    border: 2px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
}

.magicCard {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: rgb(80,163,154)
}

.magicCard:last-child {
    border-bottom: none;
}
.magicCard:nth-child(even) {
    background: #f8f8f8;
}